 <%= content_for :title, "Projetos" %>
  
  <div class="flex flex-row items-center flex-wrap justify-between">
   <h1 class="font-normal my-5 text-blue-dark text-4xl"> Projetos </h1>
   <a class="btn-blue" href="<%= new_project_path %>"><i class="fas fa-folder-open"></i> Novo Projeto</a>
 </div>

 <hr class="py-2">



 <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
   <thead class="text-white bg-gray-500">
     <tr class="bg-teal-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
       <th class="p-3 text-left">ID</th>
       <th class="p-3 text-left">Nome Projeto</th>
       <th class="p-3 text-left">Data Início</th>
       <th class="p-3 text-left">Data Fim</th>
       <th class="p-3 text-left">% Completo</th>
       <th class="p-3 text-left">% Atrasado</th>
       <th class="p-3 text-left" width="110px">Ação</th>
     </tr>
     <tr class="bg-teal-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
       <th class="p-3 text-left">ID</th>
       <th class="p-3 text-left">Nome Projeto</th>
       <th class="p-3 text-left">Data Início</th>
       <th class="p-3 text-left">Data Fim</th>
       <th class="p-3 text-left">% Completo</th>
       <th class="p-3 text-left">% Atrasado</th>
       <th class="p-3 text-left" width="110px">Actions</th>
     </tr>
     <tr class="bg-teal-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
       <th class="p-3 text-left">ID</th>
       <th class="p-3 text-left">Nome Projeto</th>
       <th class="p-3 text-left">Data Início</th>
       <th class="p-3 text-left">Data Fim</th>
       <th class="p-3 text-left">% Completo</th>
       <th class="p-3 text-left">% Atrasado</th>
       <th class="p-3 text-left" width="110px">Actions</th>
     </tr>
     <tr class="bg-teal-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
       <th class="p-3 text-left">ID</th>
       <th class="p-3 text-left">Nome Projeto</th>
       <th class="p-3 text-left">Data Início</th>
       <th class="p-3 text-left">Data Fim</th>
       <th class="p-3 text-left">% Completo</th>
       <th class="p-3 text-left">% Atrasado</th>
       <th class="p-3 text-left" width="110px">Actions</th>
     </tr>
   </thead>
   <tbody class="flex-1 sm:flex-none">
   
 
 
     <% @project.each do |project| %>
    
    <% project_finished = Activity.finished(project.id).size.to_f * 100 / Activity.no_finished(project.id).size.to_f %>
    <% deley_compared   = Activity.delay_date(project.id, project.end_date).exists?  %>
  
   

  
     <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0">
       <td class="border-grey-light border hover:bg-gray-100 p-3"><%= project.id %></td>
       <td class="border-grey-light border hover:bg-gray-100 p-3 truncate"><%= project.name %></td>
       <td class="border-grey-light border hover:bg-gray-100 p-3 truncate"><%= project.start_date.strftime("%d/%m/%Y") %></td>
       <td class="border-grey-light border hover:bg-gray-100 p-3 truncate"><%= project.end_date.strftime("%d/%m/%Y") %></td>
       <td class="border-grey-light border hover:bg-gray-100 p-3 truncate"><%= number_to_percentage(project_finished, precision: 0)   %></td>
       <td class="border-grey-light border hover:bg-gray-100 p-3 truncate"><%=  deley_compared ? "Sim" : "Não"  %></td>
       <td
         class="border-grey-light border hover:bg-gray-100 p-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer">
         <%= link_to project_path(project), method: :delete, data: { confirm: 'Você realmente deseja excluír?' } do %> 
         <i class='fas fa-trash'></i> Excluír <% end %></td>
     </tr>

     <% end %>
     
   </tbody>
 </table>